.imgTd {
  display: flex;
  justify-content: center;
}

.imgWrap {
  width: 100px;
  height: 100px;
}

.imgWrap img {
  width: 100%;
  object-fit: cover;
  height: 100px;
}

.paginationBtns {
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationActive {
  border-radius: 50%;
  text-align: center;
  color: white;
  background-color: #0b5ed7;
}

.paginationBtns a {
  margin: 15px;
  padding: 5px 5px;
  font-size: large;
  font-weight: 600;
}

.paginationDisabled {
  color: gray;
}

.paginationDisabled:hover {
  color: gray;
  cursor: not-allowed;
}

.filterProduct {
  margin: 8px 8px -10px 8px;
  display: flex;
}

.ladjflk th,
.ladjflk td {
  font-size: 16px;
}

select.form-select {
  font-size: 18px;
  margin: 15px;
  padding: 5px;
}
