@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  color: #fff;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
  background-image: url(https://images.pexels.com/photos/847371/pexels-photo-847371.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  color: white;
  background-size: cover;
}

.body h4 {
  text-align: center;
}

section {
  width: 100%;
  max-width: 500px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

/* a, a:visited {
    color: white;
} */

input[type="text"],
input[type="password"],
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  width: 100%;
}

label {
  margin-top: 1rem;
}

.btn__submit {
  padding: 0.5rem;
  margin-top: 1rem;
  /* margin-top: 30px; */
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
  text-decoration: none;
}

.path {
  display: flex;
  justify-content: space-evenly;
}

/* button {
    margin-top: 30px;
} */

.heladf {
  border-radius: 10px;
  font-size: 15px;
  width: 150px;
  position: relative;
  left: 30%;
}

.jkf {
  text-align: center;
  font-size: 14px;
}

.line a {
  color: white;
}

.line a:hover {
  color: red;
}

.lkdffkd {
  border-radius: 20px;
  margin: 20px 0;
  font-size: 24px;
  padding: 5px 0;
  width: 200px;
  position: relative;
  left: 120px;
}
